@import "tailwindcss";

@theme {
  --color-brand-navy: #020617;
  --color-brand-cyan: #06b6d4;
}

:root {
  background-color: var(--color-brand-navy);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
